
h1 {
    font-style: italic;
    font-family: cursive;
    text-align: center;
}
header {
    background-image: url('https://image.freepik.com/free-vector/sky-wallpaper-video-conferencing_23-2148631817.jpg');
    background-size: cover;
    width: 100%;
}
nav {
    border-radius: 5px;
    background: linear-gradient(to bottom,hsl(234, 100%, 67%) 0%, hsl(216, 100%, 77%) 100%);
    border-width: 2px;
    border-style: solid;
    border-color: white;
}
a {
    text-decoration: none;
}
a.site_name {
    padding: 1%;
    display: inline-block;
    color: cornsilk;
    border-width: 2px;
    border-color: white;
    border-style: inset;
    border-radius: 6px;
    margin: 3px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}
a.header_link {
    display: inline-block;
    text-align: center;
    width: 20%;
    padding: 20px 0px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    margin: 7% 5% 3% 5%;
    font-size: medium;
}
iframe {
  width: 100%;
  height: 100%;
}
a.header_link:hover {
    background-color: yellowgreen;
    border-color: black;
    text-decoration: none;
    
}
a.active {
   background: rgba(255, 255, 255, 0.8); 
   color: rgb(255, 232, 29);
}
.dropdown {
    position: relative;
    display: block;
    float: right;
    padding: 1%;
    color: cornsilk;
    border-width: 2px;
    border-color: white;
    border-style: inset;
    border-radius: 6px;
    margin: 3px;
    color: black;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(0, 0, 0);
    padding: 12px 16px;
    z-index: 1;
    right: 0;
}
  
.dropdown:hover .dropdown-content {
    display: block;
  }
img {
    width: 80%;
    display:block;
    margin: 0% auto 3% auto;
    border-radius: 10px;
}
footer {
    background-color: rgb(13 221 157 / 67%);
    color: white;
    padding: 15px;
  }
p {
    font-size: larger;
    font-family: 'Glyphicons Halflings';
    font-style: oblique;
}
div:nth-child(3) > ul {
  font-size: large;
  color: rgb(37, 136, 182);
  font-style: normal;
  font-family: 'Times New Roman', Times, serif;

}
div:nth-child(3) > ul > li:hover {
  font-size: larger;
}
div:nth-child(4) > ul {
     font-size: x-large;
     color: turquoise;
     padding: 1%;
 }
div:nth-child(4) > ul > li:hover {
    background-color: rgb(54, 250, 224);
    border-radius: 5px;
    animation-name: example;
    animation-duration: 2s;
 }

@keyframes example {
    from {background-color:rgb(54, 250, 224)}
    to {background-color: greenyellow}
  }

@media screen and (max-width: 768px) {
    div#image {
      display: none;
    }
  }
div.gallery {
    border: 1px solid #ccc;
  }
  
div.gallery:hover {
    border: 1px solid #777;
  }
  
div.gallery img {
    width: 100%;
    height: auto;
  }
  
div.desc {
    padding: 15px;
    text-align: center;
  }
  
.responsive {
  display: inline-block;
    padding: 5px;
    width: 20%;
  }
  
@media only screen and (max-width: 768px) {
    .responsive {
      width: 40%;
    }
  }
  
@media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
